.alignText {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boxInput {
    width: 700px;
    gap: 10px;
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    input {
        border: none;
        border-radius: 8px;
        font-weight: 700;
        padding: 13px 10px;
        outline: none;
        border: 3px solid transparent;

        &:focus {
            border-color: #fff15b;
        }
    }

    h3 {
        color: red;
    }

    select {
        border: none;
        border-radius: 8px;
        font-weight: 700;
        padding: 13px 10px;
        outline: none;
        border: 3px solid transparent;

        &:focus {
            border-color: #fff15b;
        }

    }
}