ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;

    a {
        text-decoration: none !important;

        li {
            font-size: 1.3em;
            color: #000;
            transition: 0.4s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}